body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form input, form select {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;no
    border: none;
    cursor: pointer;
}
.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 400px;
    height: 200px;
    object-fit: cover;
}